<h1>Gallery</h1>

<% @gallery_items.each do |gallery_item| %>
    <p><%= gallery_item.title %></p>
    <p><%= gallery_item.subtitle %></p>
    <p><%= gallery_item.body %></p>
    <%= image_tag gallery_item.thumb_image unless gallery_item.thumb_image.nil? %>

<% end %>